---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<!-- I was a Teaching Assistant for ** Introduction to Robotic Systems Design II ** in the Fall 2022 semester.
you can see the details here:[Course](https://faculty.utah.edu/u1419791-ZOHRE_KARIMI/teaching/index.hml) -->
<p>
    I was a Teaching Assistant for <strong>Introduction to Robotic Systems Design II</strong> in the Fall 2022 semester.
    You can see the details here: 
    <a href="https://faculty.utah.edu/u1419791-ZOHRE_KARIMI/teaching/index.hml">Introduction to Robotic Systems Design II </a>.
</p>
<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
